
@{
    Layout = "_Layout";
    ViewData["Title"] = "Game";
}
<br />
<h4 class="text-center">Поповой Дианы К19-1</h4>
<h1 class="text-center">Крестики нолики</h1>
<br /><br /><br />

<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="container">
                <div class="row">
                    <div class="col-4 border cssfield field" id="a1"></div>
                    <div class="col-4 border cssfield field" id="a2"></div>
                    <div class="col-4 border cssfield field" id="a3"></div>
                </div>
                <div class="row">
                    <div class="col-4 border cssfield field" id="b1"></div>
                    <div class="col-4 border cssfield field" id="b2"></div>
                    <div class="col-4 border cssfield field" id="b3"></div>
                </div>
                <div class="row">
                    <div class="col-4 border cssfield field" id="c1"></div>
                    <div class="col-4 border cssfield field" id="c2"></div>
                    <div class="col-4 border cssfield field" id="c3"></div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="winner"></div>
            <button class="btn btn-game btn-block" style="font-family: Anime Ace v05; font-size:20px;">Играть заново</button>
        </div>
    </div>
</div>